/* Center the login form */
div {
    text-align: center;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Dashboard Items */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.dashboard-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    width: 50w;
}

.dashboard-title {
    font-size: 24px;
    font-weight: bold;
}

.dashboard-subtitle {
    font-size: 16px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.threat-logs {
    background-color: #d1d5db;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
}

.real-time-alerts {
    background-color: #d1d5db;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    height: 550px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
}

.body-text {
    font-size: 14px;
}

/* Risk Scores */
.risk-scores {
    margin-top: 20px;
    padding: 20px;
    background-color: #d1d5db;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .risk-scores-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  
  .risk-scores table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .risk-scores th,
  .risk-scores td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .risk-scores th {
    background-color: black;
    color: white;
  }
  
  .risk-scores td {
    background-color: #ffffff;
  }
  
  /* Asset List */
  .asset-section {
    grid-column: span 2;
  }

  .asset-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #d1d5db;
    border-radius: 8px;
  }
  
  .asset-list-container {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  
  .asset-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .asset-list th,
  .asset-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .asset-list th {
    background-color: black;
    color: white;
  }

  .asset-list td {
    background-color: #ffffff;
  }
  